*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.Header{
    background-color: black;
}
nav{
    text-align: center;
    
}
.nav{
    background-color: orange;
}

nav ul li{
   
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 20px;
    margin-right: 20px;
    text-decoration: none;
    
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.Black{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    font-weight: 700;
}
.FIRST {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
.second{
    float: right;
    margin: 50px;
}
.second >img{
    height: 300px;
}
h2{
    text-align: center;
    margin-right: 10px ;
    color: orange;
    font-style: italic;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    font-weight: 700px;
}
.stat{
    text-align: right;
}
.aboutimg{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;

}
.Skills{
    background-color: orange;
}
