*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo a{
    color: black;
    font-size: 35px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    float: left;
    margin-left: 20px;
    margin-top:5px;

}
.Header{
    background-color: black;
}
nav{
    text-align: center;
    width: 100%;
    
}
.nav{
    background-color: orange;
}

nav ul li{
   
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 20px;
    margin-right: 20px;
    text-decoration: none;
    
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.Black{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    font-weight: 700;
  
}
.FIRST {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
.second{
    float: right;
    margin: 50px;
}
.second >img{
    height: 300px;
}
h2{
    text-align: center;
    margin-right: 10px ;
    color: orange;
    font-style: italic;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    font-weight: 700px;
}
About{
    Margin-left: 20px;
}
.stat{
    text-align: right;
    width: 700px;
}
.aboutimg img{
    float: right;
    margin-top: 40px;
    margin-left: 7rem;

}
.Skills{
    background-color: orange;
    text-decoration: none;
    list-style: none;
    padding: 7rem;
}
.INTRO ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;

}
.Project{
    background-color: black;
    color: orange;
    display: block;
    position: relative;
    flex-direction: column;
    text-align: center;
    padding: 20px;

    
}
.Project1{
    text-align: center;
    position: relative;
    width: 400px;
   
   
}
.Project1 img{
    width: 400px;
    height: 400px;
    float: left;
    

}
button{
    background-color: green;
    cursor: pointer;
    margin-top: 5px;
    width: 80px;
    height: 30px;
}
.project2{
    width: 400px;
    text-align: center;
    float:right;
    margin-top: -480px;
}
.project2 img{
    width: 170px;
    height: 340px;
}




    


h3{
    text-align: center;
}
p{
    text-align: left;
}
ul li {
    text-align: center;
}
.image{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
 
    
