*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo > a{
    color: black;
    font-size: 35px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    float: left;
    margin-left: 20px;
    margin-top:5px;

}
.Header{
    background-color: black;
}
nav{
    text-align: center;
    width: 100%;
    
}
.nav{
    background-color: orange;
}

nav ul li{
   
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 20px;
    margin-right: 20px;
    text-decoration: none;
    
}
nav >li> a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.Black{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    font-weight: 700;
  
}
.FIRST {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
.second{
    float: right;
    margin: 50px;
}
.second >img{
    height: 300px;
}
h2{
    text-align: center;
    margin-right: 10px ;
    color: orange;
    font-style: italic;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    font-weight: 700px;
}
About{
    Margin-left: 20px;
}
.stat{
    text-align: right;
    width: 700px;
}
.aboutimg img{
    float: right;
    margin-top: 40px;
    margin-left: 7rem;

}
#Skills{
    background-color: orange;
    text-decoration: none;
    list-style: none;
    padding: 5rem;
}
.INTRO ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}
.flex1 {
    border: 4px solid black;
    padding: 2rem;

}
.flex2{
    border: 4px solid black;
    padding: 2rem;
}
.Project{
    background-color: Black;
    color: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    


    
}
.Project1{
    text-align: center;
    position: relative;
    width: 400px;
    margin-right: 4rem;
    
   
   
}
.Project1 img{
    width: 100%;
    height: 100%;
    float: left;
    

}
.Project1 >.btn,.project2>.btn {
    background-color: green;
    padding: 3px 24px 3px 24px;
}
button{
    background-color: green;
    cursor: pointer;
    margin-top: 5px;
    width: 80px;
    height: 30px;
}
.project2{
    width: 400px;
    text-align: center;
    float:right;
    margin-top: 0px;
}
.project2>.btn{
    position: relative;
    top: 20px;
}
.project2 img{
    width: 100%;
    height: 100%;
}
.social-links ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding:2rem;
    background-color: black;
   

}




    


h3{
    text-align: center;
}
p{
    text-align: left;
}
ul li {
    text-align: center;
}
.image{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.Contact{
    background-color: orange;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}

.Contact .input-field{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: -180px;
   
}
.input-field{
    border: 0 none;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 20px;
    
}
form{
    text-align: center;
    align-items: center;
}
/*
.input-field1 {
    border: 0 none;
    border-radius:20px ;
    margin: 0px;
    padding: 12px 15px;
}
.input-field2{
    padding: 12px 15px;
    margin-right: 10rem;
    border: 0 none;
    border-radius: 20px;

}

.Contact> form{
    text-align: center;
    display: inline;

   

}
 */
    
